/*
Colors: 
#E54E79;
#E56385;
#00B2A9;
#75726C;
#EDE9E2;
*/
*{
	margin: 0;
	padding: 0;    /*Borrar todos los margenes que entrega por defecto el navegados*/
	
}

body {
	background-image: url('../img/cropped-Lyft-Promo-Codes-car-1.jpg') ;
	background-size: cover; /* la imagen se escale de forma automatica*/
	
	/* creacion de la barra menu*/
}

header {  /* barra rosada*/
	background: #E54E79;
	width: 100%;
	height: 60px;
	margin: auto;
	box-shadow: 2px 2px 5px #500; /*realizamos sobra */
	
}

header nav {
	background: #E54E79;
	overflow: hidden;  /* me limpia el float life*/
	position:fixed;
	position: relative;
	top: -45px; 
	bottom: 0;
	right:0;
	left: 80%;
}

header nav ul {    /*me quita los puntitos del enlace en el menu */
	list-style:none;


}

header nav ul li {
	float:left; /* Esto hara que todos se apilen uno al lado del otro*/
	
}

header nav ul li a {
	padding:10px 20px;
	display: block;   /*permite que tenga un padding hacia arriba y hacia abajo si no se colocara el padding no funcionaria*/
	color: #fff;
	text-decoration: none;

}

header nav ul li a:hover {  /*Darle efecto al menu*/

	background: #E56385;
	
}

header div img {
	width: 70px;
	height: 50px; 
	position: relative;
	top: 5px;
	bottom:;
	right:;
	left: 200px;
}
/* empiezo con la caja y campo de telefono*/

section {
	background: #EDE9E2;
	width: 100%;
	height: 350px;
	position:relative;
	top: 80px; 
	left: 850px;
	margin: 0;
	padding:0;
}

.cajaBlanca {
	margin:-1px;
}
section h1{
	font-size: 30px;
	position:absolute;
	width:400px;
	top: 50px;
	bottom: 100px;
	left: 35px;
	color: #00B2A9;
}

section div label{   /*sign up to drive lyft*/
	font-size: 16px;
	position:absolute;
	top:35px; 
	bottom:0;
	right: 50px;
	left: 10px;
	color:#75726C;
}

input {  /*campo vacio phone number*/
	background-color: #EDE9E2;
	border: none;
	position:absolute;
	top: 70px; 
	bottom: ;
	right: ;
	left: 0;
	width: 300px; 
	height: 50px;
	color:#000;
	}

 hr {
	height: 0.5px;
	background-color: #75726C;
	margin-top: 30%;

}

button {
	background-color:#E54E79;
	border-radius: 10px;
	border: none;
	color: #fff;
	font-size: 16px;
	position: absolute;
	top: 135px;
	bottom: 0;
	right: 50px;
	left: 5px;
	width: 200px ; 
	height: 50px;
	box-shadow: 2px 2px 5px #500;
}

p  {
font-size: 12PX;
	position: absolute;
	bottom: -10px;
	left: 5px;
color:#75726C;
}

h3 {
font-size: 12PX;
	position: absolute;
	bottom: -40px;
left: 5px;
color: #75726C;
}









