/*
Colors: 
#E54E79;
#E56385;
#00B2A9;
#75726C;
#EDE9E2;
*/
*{
	margin: 0 ;
	padding: 0;
	/*Borrar todos los margenes que entrega por defecto el navegados*/
	font-family: 'Raleway', sans-serif;


}

body {
	background-image: url('../img/cropped-Lyft-Promo-Codes-car-1.jpg');
	background-repeat:no-repeat;
	background-size: cover; /* la imagen se escale de forma automatica*/
	border-spacing: : none;
	border-image: none;

}
/* creacion de la barra menu*/


header {  /* barra rosada*/
	background: #E54E79;
	width: 100%;
	height: 60px;
	margin: auto;
	box-shadow: 2px 2px 5px #500; /*realizamos sobra */
	
}

header nav {
	background: #E54E79;
	width: 21%;
	overflow: hidden;  /* me limpia el float life contenedor que envuelve*/
	position:fixed;
	position: relative;
	top: -45px; 
	bottom: 0;
	right:0;
	left: 77%;
}

header nav ul {    /*me quita los puntitos del enlace en el menu */
	list-style:none;


}

header nav ul li {
	float:left; /* Esto hara que todos se apilen uno al lado del otro*/
	
}

header nav ul li a {
	padding:10px 20px;
	display: block;   /*permite que tenga un padding hacia arriba y hacia abajo si no se colocara el padding no funcionaria*/
	color: #fff;
	text-decoration: none;

}

header nav ul li a:hover {  /*Darle efecto al menu*/

	background: #E56385;
	
}

header div img {
	width: 70px;
	height: 50px; 
	position: relative;
	top: 5px;
	bottom:;
	right:;
	left: 200px;
}
/* -------------------------------empiezo con la caja y campo de telefono*/

section {
	background: #EDE9E2;
	width: 32%;
	height: 350px;
	position:relative;
	top: 80px; 
	left: 834px;
	margin: 0;
	padding:0;
}

.cajaBlanca {
	margin:-1px;
}
section h1{
	font-size: 20px;
	position:absolute;
	width:400px;
	top: 50px;
	bottom: 100px;
	left: 35px;
	color: #00B2A9;
}

section div label{   /*sign up to drive lyft*/
	font-size: 12px;
	position:absolute;
	top:35px; 
	bottom:0;
	right: 0;
	left: -1px;
	color:#75726C;
}
/*--------------------------------campo vacio phone number*-------------------------------------------------*/
input {  /*campo vacio phone number*/
	background-color: #EDE9E2;
	border: none;
	position:absolute;
	top: 70px; 
	bottom: ;
	right: ;
	left: 0;
	width: 300px; 
	height: 50px;
	color:#000;
}

hr {
	width: :30%;
	height: 0.5px;
	background-color: #75726C;
	position:relative;
	top: 20px; 
	bottom: ;
	right: 10px;
	left: -43px;
	margin-top: 25%;

}

button {
	background-color:#E54E79;
	border-radius: 10px;
	border: none;
	color: #fff;
	font-size: 16px;
	position: absolute;
	top: 135px;
	bottom: 0;
	right: 50px;
	left: 5px;
	width: 200px ; 
	height: 50px;
	box-shadow: 2px 2px 5px #500;
}

h2  {
	font-size: 12PX;
	position: absolute;
	bottom: -10px;
	left: 5px;
	color:#75726C;
}

h3 {
	font-size: 12PX;
	position: absolute;
	bottom: -40px;
	left: 5px;
	color: #75726C;
}

div {
	background:
	height: 800px;

}
/*--------------------------------------caja celeste */
.contenedor {
	
	position: relative;
	
}

.caja {    
	width: 100%;
	height: 879px;
	background-color: #00B2A9;
	position: absolute;
	top: 246px;
	right: 0px;
	
	l

}
/*------------------------------------------caja blanca con frase */
.caja2 { 
	width: 100%;
	height: 100px;
	background-color: #EDE9E2;
	position: relative;
	top: 340px;
	right: 0px;
	
}

p {
	color: #75726C;
	font-size: 50px;
	font-weight: bold;
	position: absolute;
	top: 20px;
	right: 0px;
	bottom: 200px;
	left: 425px;
}
/*-----------------------------caja blanca con coordenadas-----------------*/
.caja3 {
	width: 1000px;
	height: 300px;
	background-color: #EDE9E2;
	position: absolute;
	top: 150px;
	right: 0px;
	bottom: 200px;
	left: 100px;
}



#campovacio2  {  /* COORDINATE X*/
	position: absolute;
	left: 200px;
	top: 260px;

}

.bordex {      /*borde que va abajo de x-coordenadas*/
	width: 416px;
	height:1px; 
	background-color: #75726C;
	position:relative;
	top:300px;
	left:646px;
	border:none; 
}


#campovacio3 { /* COORDINATE y*/
	position: absolute;
	left: 700px;
	top: 250px;
	
}

.bordey {      /*borde que va abajo de x-coordenadas*/
	width: 416px;
	height:1px; 
	background-color: #75726C;
	position:relative;
	top:-68px;
	left:145px;
	border:none; 

}



.boton2 {
	width: 900px;
	position: absolute;
	left: 152px;
	top:348px;
}

/*------------------------------------ iconos de autos*/

#auto1 {
	position: absolute;
	left: 640px;
	top:250px;
	color: #75726C;
	
}

#auto2 {
	position: absolute;
	left: 140px;
	top:254px;
	color: #75726C;

}


/* -----------------------------------------Diseño del footer*/
div .contenedor-footer  {
	width: 100%;
	height: 300px;
	background: #75726C;
	position:relative;
	top: 116px;
	bottom: 200px;
	right: 200px;
	left: 0;

}

div .texto1 h4 {
	font-size: 30px;
	color:#EDE9E2;
	position:absolute;
	top:500px;
	bottom:50px;
	right:50px;
	left: 854px;
	
	
}

div .texto1 h4 ul li {
	font-size: 12px;
	color:#EDE9E2;
	position:relative;
	top: 50px;
	bottom: 0;
	right: 0px;
	left: 5px;
	list-style:none;
}
/*-------------footer marca laboratoria y  mas links----------*/
footer {
	width:100% ;
	height: 50px;
	background:#2E2E2E;
	position:relative;
	top:65px;
	bottom:0;
	right:0;
	left:0; 
}


footer p{
	font-size: 12px;
	width: 200px;
	color:#EDE9E2;
	position:absolute;
	top:15px;
	bottom:0;
	right:1000px;
	left: 0px;
	



}
div .texto p{
	font-size: 12px;
	width: 100px;
	color:#EDE9E2;
	position:absolute;
	top:15px;
	bottom:0;
	right:0;
	left: 1100px;
	

}

div .sprint3 h5{
	font-size: 30px;
	width: 300px;
	color:#EDE9E2;
	position:absolute;
	top:500px;
	bottom:0;
	right:0;
	left: 100px;


}

div .sprint3 h5 p{
	font-size: 12px;
	width: 400px;
	color:#EDE9E2;
	position:absolute;
	top:50px;
	bottom:0;
	right:0;
	left: 0px
}
